# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

# kaggle
# username=
# key=

# setup DVC
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# CODECOV
CODECOV_TOKEN=

# Huggingface
HF_TOKEN=


# Dockerhub
#DOCKER_USERNAME=
#DOCKER_PASSWORD=


# AWS CLI
#CDK_DEFAULT_ACCOUNT=
#CDK_DEFAULT_REGION=ap-south-1